[Unit]
Description=<Project name>
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/srv/github/py_frame
ExecStart=/usr/bin/python /srv/github/py_frame/main.py --project-dir <project> <command>

[Install]
WantedBy=multi-user.target